{
  "openapi": "3.1.0",
  "info": {
    "title": "Context Public API",
    "version": "2.0.0",
    "description": "Public API for the Context prediction market platform. Provides endpoints for markets, orders, portfolio, and balance management."
  },
  "servers": [
    {
      "url": "https://api-testnet.context.markets/v2",
      "description": "Production"
    }
  ],
  "security": [],
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "http",
        "scheme": "bearer",
        "description": "API key passed as Bearer token"
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          }
        },
        "required": [
          "message"
        ]
      },
      "RateLimitResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "remainingMints": {
            "type": "number"
          },
          "remainingAmount": {
            "type": "string"
          },
          "retryAfter": {
            "type": "number"
          }
        },
        "required": [
          "message"
        ]
      },
      "BulkErrorResponse": {
        "type": "object",
        "properties": {
          "errors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "index": {
                  "type": "number"
                },
                "error": {
                  "type": "string"
                }
              },
              "required": [
                "index",
                "error"
              ]
            }
          }
        },
        "required": [
          "errors"
        ]
      }
    }
  },
  "paths": {
    "/markets": {
      "get": {
        "operationId": "listMarkets",
        "summary": "List markets",
        "tags": [
          "Markets"
        ],
        "responses": {
          "200": {
            "description": "Markets list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "markets": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {},
                          "oracle": {},
                          "question": {
                            "type": "string"
                          },
                          "shortQuestion": {
                            "type": "string"
                          },
                          "outcomeTokens": {
                            "type": "array",
                            "items": {}
                          },
                          "outcomePrices": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "outcomeIndex": {
                                  "type": "number"
                                },
                                "bestBid": {
                                  "anyOf": [
                                    {
                                      "type": "number"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "bestAsk": {
                                  "anyOf": [
                                    {
                                      "type": "number"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "spread": {
                                  "anyOf": [
                                    {
                                      "type": "number"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "midPrice": {
                                  "anyOf": [
                                    {
                                      "type": "number"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "lastPrice": {
                                  "anyOf": [
                                    {
                                      "type": "number"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "currentPrice": {
                                  "anyOf": [
                                    {
                                      "type": "number"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                }
                              },
                              "required": [
                                "outcomeIndex",
                                "bestBid",
                                "bestAsk",
                                "spread",
                                "midPrice",
                                "lastPrice",
                                "currentPrice"
                              ]
                            }
                          },
                          "creator": {},
                          "creatorProfile": {
                            "anyOf": [
                              {
                                "type": "object",
                                "properties": {
                                  "username": {
                                    "anyOf": [
                                      {
                                        "type": "string"
                                      },
                                      {
                                        "type": "null"
                                      }
                                    ]
                                  },
                                  "avatarUrl": {
                                    "anyOf": [
                                      {
                                        "type": "string"
                                      },
                                      {
                                        "type": "null"
                                      }
                                    ]
                                  }
                                },
                                "required": [
                                  "username",
                                  "avatarUrl"
                                ]
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "blockTime": {
                            "type": "string"
                          },
                          "chainId": {
                            "type": "string"
                          },
                          "txHash": {},
                          "volume": {
                            "type": "string"
                          },
                          "volume24h": {
                            "type": "string"
                          },
                          "participantCount": {
                            "type": "integer",
                            "minimum": -9007199254740991,
                            "maximum": 9007199254740991
                          },
                          "executableAt": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "proposedAt": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "resolvedAt": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "payoutPcts": {
                            "anyOf": [
                              {
                                "type": "array",
                                "items": {
                                  "type": "number"
                                }
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "resolutionStatus": {
                            "type": "string",
                            "enum": [
                              "none",
                              "pending",
                              "resolved"
                            ]
                          },
                          "metadata": {
                            "type": "object",
                            "properties": {
                              "mediaHash": {
                                "anyOf": [
                                  {},
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "startTime": {
                                "type": "number"
                              },
                              "endTime": {
                                "type": "number"
                              },
                              "criteria": {
                                "type": "string"
                              },
                              "slug": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "sourceAccounts": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "platform": {
                                      "type": "string"
                                    },
                                    "userId": {
                                      "type": "string"
                                    },
                                    "username": {
                                      "type": "string"
                                    },
                                    "displayName": {
                                      "anyOf": [
                                        {
                                          "type": "string"
                                        },
                                        {
                                          "type": "null"
                                        }
                                      ]
                                    },
                                    "profileImageUrl": {
                                      "anyOf": [
                                        {
                                          "type": "string"
                                        },
                                        {
                                          "type": "null"
                                        }
                                      ]
                                    }
                                  },
                                  "required": [
                                    "platform",
                                    "userId",
                                    "username",
                                    "displayName",
                                    "profileImageUrl"
                                  ]
                                }
                              },
                              "shortSummary": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "categories": {
                                "anyOf": [
                                  {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    }
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              }
                            },
                            "required": [
                              "mediaHash",
                              "startTime",
                              "endTime",
                              "criteria",
                              "slug",
                              "sourceAccounts",
                              "shortSummary",
                              "categories"
                            ]
                          },
                          "resolutionCriteria": {
                            "type": "string"
                          },
                          "deadline": {
                            "type": "string",
                            "format": "date-time",
                            "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                          },
                          "status": {
                            "type": "string",
                            "enum": [
                              "active",
                              "pending",
                              "resolved",
                              "closed"
                            ]
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                          },
                          "outcome": {
                            "anyOf": [
                              {
                                "type": "integer",
                                "minimum": -9007199254740991,
                                "maximum": 9007199254740991
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "contractAddress": {
                            "anyOf": [
                              {},
                              {
                                "type": "null"
                              }
                            ]
                          }
                        },
                        "required": [
                          "id",
                          "oracle",
                          "question",
                          "shortQuestion",
                          "outcomeTokens",
                          "outcomePrices",
                          "creator",
                          "creatorProfile",
                          "blockTime",
                          "chainId",
                          "txHash",
                          "volume",
                          "volume24h",
                          "participantCount",
                          "executableAt",
                          "proposedAt",
                          "resolvedAt",
                          "payoutPcts",
                          "resolutionStatus",
                          "metadata",
                          "resolutionCriteria",
                          "deadline",
                          "status",
                          "createdAt",
                          "outcome",
                          "contractAddress"
                        ]
                      }
                    },
                    "cursor": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    }
                  },
                  "required": [
                    "markets",
                    "cursor"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        },
        "description": "Returns a paginated list of markets. Supports sorting by volume, trending, new, ending, or chance.",
        "parameters": [
          {
            "name": "sortBy",
            "in": "query",
            "required": false,
            "description": "Sort order for the markets list",
            "schema": {
              "type": "string",
              "enum": [
                "volume",
                "trending",
                "new",
                "ending",
                "chance"
              ],
              "default": "new"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Sort direction",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of results per page",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50,
              "default": 50
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Pagination cursor from a previous response",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "Comma-separated status filter (active, pending, resolved, closed)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "resolutionStatus",
            "in": "query",
            "required": false,
            "description": "Comma-separated resolution status filter (none, pending, resolved)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "description": "Search query to filter markets by question text",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "creator",
            "in": "query",
            "required": false,
            "description": "Filter by creator address",
            "schema": {
              "type": "string",
              "pattern": "^0x[0-9a-fA-F]{40}$"
            }
          },
          {
            "name": "category",
            "in": "query",
            "required": false,
            "description": "Filter by category",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/markets/{id}": {
      "get": {
        "operationId": "getMarket",
        "summary": "Get a market",
        "tags": [
          "Markets"
        ],
        "responses": {
          "200": {
            "description": "Market details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "market": {
                      "type": "object",
                      "properties": {
                        "id": {},
                        "oracle": {},
                        "question": {
                          "type": "string"
                        },
                        "shortQuestion": {
                          "type": "string"
                        },
                        "outcomeTokens": {
                          "type": "array",
                          "items": {}
                        },
                        "outcomePrices": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "outcomeIndex": {
                                "type": "number"
                              },
                              "bestBid": {
                                "anyOf": [
                                  {
                                    "type": "number"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "bestAsk": {
                                "anyOf": [
                                  {
                                    "type": "number"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "spread": {
                                "anyOf": [
                                  {
                                    "type": "number"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "midPrice": {
                                "anyOf": [
                                  {
                                    "type": "number"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "lastPrice": {
                                "anyOf": [
                                  {
                                    "type": "number"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "currentPrice": {
                                "anyOf": [
                                  {
                                    "type": "number"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              }
                            },
                            "required": [
                              "outcomeIndex",
                              "bestBid",
                              "bestAsk",
                              "spread",
                              "midPrice",
                              "lastPrice",
                              "currentPrice"
                            ]
                          }
                        },
                        "creator": {},
                        "creatorProfile": {
                          "anyOf": [
                            {
                              "type": "object",
                              "properties": {
                                "username": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "avatarUrl": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                }
                              },
                              "required": [
                                "username",
                                "avatarUrl"
                              ]
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "blockTime": {
                          "type": "string"
                        },
                        "chainId": {
                          "type": "string"
                        },
                        "txHash": {},
                        "volume": {
                          "type": "string"
                        },
                        "volume24h": {
                          "type": "string"
                        },
                        "participantCount": {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        },
                        "executableAt": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "proposedAt": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "resolvedAt": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "payoutPcts": {
                          "anyOf": [
                            {
                              "type": "array",
                              "items": {
                                "type": "number"
                              }
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "resolutionStatus": {
                          "type": "string",
                          "enum": [
                            "none",
                            "pending",
                            "resolved"
                          ]
                        },
                        "metadata": {
                          "type": "object",
                          "properties": {
                            "mediaHash": {
                              "anyOf": [
                                {},
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "startTime": {
                              "type": "number"
                            },
                            "endTime": {
                              "type": "number"
                            },
                            "criteria": {
                              "type": "string"
                            },
                            "slug": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "sourceAccounts": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "platform": {
                                    "type": "string"
                                  },
                                  "userId": {
                                    "type": "string"
                                  },
                                  "username": {
                                    "type": "string"
                                  },
                                  "displayName": {
                                    "anyOf": [
                                      {
                                        "type": "string"
                                      },
                                      {
                                        "type": "null"
                                      }
                                    ]
                                  },
                                  "profileImageUrl": {
                                    "anyOf": [
                                      {
                                        "type": "string"
                                      },
                                      {
                                        "type": "null"
                                      }
                                    ]
                                  }
                                },
                                "required": [
                                  "platform",
                                  "userId",
                                  "username",
                                  "displayName",
                                  "profileImageUrl"
                                ]
                              }
                            },
                            "shortSummary": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "categories": {
                              "anyOf": [
                                {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            }
                          },
                          "required": [
                            "mediaHash",
                            "startTime",
                            "endTime",
                            "criteria",
                            "slug",
                            "sourceAccounts",
                            "shortSummary",
                            "categories"
                          ]
                        },
                        "resolutionCriteria": {
                          "type": "string"
                        },
                        "deadline": {
                          "type": "string",
                          "format": "date-time",
                          "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                        },
                        "status": {
                          "type": "string",
                          "enum": [
                            "active",
                            "pending",
                            "resolved",
                            "closed"
                          ]
                        },
                        "createdAt": {
                          "type": "string",
                          "format": "date-time",
                          "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                        },
                        "outcome": {
                          "anyOf": [
                            {
                              "type": "integer",
                              "minimum": -9007199254740991,
                              "maximum": 9007199254740991
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "contractAddress": {
                          "anyOf": [
                            {},
                            {
                              "type": "null"
                            }
                          ]
                        }
                      },
                      "required": [
                        "id",
                        "oracle",
                        "question",
                        "shortQuestion",
                        "outcomeTokens",
                        "outcomePrices",
                        "creator",
                        "creatorProfile",
                        "blockTime",
                        "chainId",
                        "txHash",
                        "volume",
                        "volume24h",
                        "participantCount",
                        "executableAt",
                        "proposedAt",
                        "resolvedAt",
                        "payoutPcts",
                        "resolutionStatus",
                        "metadata",
                        "resolutionCriteria",
                        "deadline",
                        "status",
                        "createdAt",
                        "outcome",
                        "contractAddress"
                      ]
                    }
                  },
                  "required": [
                    "market"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        },
        "description": "Returns a single market by ID (hash) or slug.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Market ID (hash) or slug",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/markets/{id}/activity": {
      "get": {
        "operationId": "getMarketActivity",
        "summary": "Get market activity",
        "tags": [
          "Markets"
        ],
        "responses": {
          "200": {
            "description": "Market activity",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "marketId": {
                      "anyOf": [
                        {},
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "activity": {
                      "type": "array",
                      "items": {
                        "oneOf": [
                          {
                            "type": "object",
                            "properties": {
                              "marketId": {},
                              "timestamp": {
                                "type": "string",
                                "format": "date-time",
                                "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                              },
                              "type": {
                                "type": "string",
                                "const": "trade"
                              },
                              "data": {
                                "type": "object",
                                "properties": {
                                  "side": {
                                    "type": "string"
                                  },
                                  "price": {
                                    "type": "number"
                                  },
                                  "amount": {
                                    "type": "number"
                                  },
                                  "contracts": {
                                    "type": "number"
                                  }
                                },
                                "required": [
                                  "side",
                                  "price",
                                  "amount",
                                  "contracts"
                                ]
                              }
                            },
                            "required": [
                              "timestamp",
                              "type",
                              "data"
                            ]
                          },
                          {
                            "type": "object",
                            "properties": {
                              "marketId": {},
                              "timestamp": {
                                "type": "string",
                                "format": "date-time",
                                "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                              },
                              "type": {
                                "type": "string",
                                "const": "oracle_update"
                              },
                              "data": {
                                "type": "object",
                                "properties": {
                                  "confidence": {
                                    "anyOf": [
                                      {
                                        "type": "number"
                                      },
                                      {
                                        "type": "null"
                                      }
                                    ]
                                  },
                                  "status": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "confidence",
                                  "status"
                                ]
                              }
                            },
                            "required": [
                              "timestamp",
                              "type",
                              "data"
                            ]
                          },
                          {
                            "type": "object",
                            "properties": {
                              "marketId": {},
                              "timestamp": {
                                "type": "string",
                                "format": "date-time",
                                "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                              },
                              "type": {
                                "type": "string",
                                "const": "resolution"
                              },
                              "data": {
                                "type": "object",
                                "properties": {
                                  "outcome": {
                                    "anyOf": [
                                      {
                                        "type": "string"
                                      },
                                      {
                                        "type": "null"
                                      }
                                    ]
                                  },
                                  "evidence": {
                                    "anyOf": [
                                      {
                                        "type": "string"
                                      },
                                      {
                                        "type": "null"
                                      }
                                    ]
                                  }
                                },
                                "required": [
                                  "outcome",
                                  "evidence"
                                ]
                              }
                            },
                            "required": [
                              "timestamp",
                              "type",
                              "data"
                            ]
                          },
                          {
                            "type": "object",
                            "properties": {
                              "marketId": {},
                              "timestamp": {
                                "type": "string",
                                "format": "date-time",
                                "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                              },
                              "type": {
                                "type": "string",
                                "const": "market_created"
                              },
                              "data": {
                                "type": "object",
                                "properties": {},
                                "additionalProperties": {}
                              }
                            },
                            "required": [
                              "timestamp",
                              "type",
                              "data"
                            ]
                          }
                        ]
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "cursor": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "hasMore": {
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "cursor",
                        "hasMore"
                      ]
                    }
                  },
                  "required": [
                    "activity",
                    "pagination"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        },
        "description": "Returns recent activity for a market including trades, oracle updates, resolutions, and market creation events.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Market ID (hash) or slug",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "types",
            "in": "query",
            "required": false,
            "description": "Comma-separated activity types to filter (trade, oracle_update, resolution, market_created)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Pagination cursor",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Results per page",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          },
          {
            "name": "startTime",
            "in": "query",
            "required": false,
            "description": "Filter activity after this time",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "endTime",
            "in": "query",
            "required": false,
            "description": "Filter activity before this time",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ]
      }
    },
    "/markets/{id}/oracle": {
      "get": {
        "operationId": "getMarketOracle",
        "summary": "Get market oracle data",
        "tags": [
          "Markets"
        ],
        "responses": {
          "200": {
            "description": "Oracle resolution summary",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "oracle": {
                      "anyOf": [
                        {
                          "type": "object",
                          "properties": {
                            "lastCheckedAt": {
                              "type": "string",
                              "format": "date-time",
                              "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                            },
                            "confidenceLevel": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "evidenceCollected": {
                              "type": "object",
                              "properties": {
                                "postsCount": {
                                  "type": "number"
                                },
                                "relevantPosts": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                }
                              },
                              "required": [
                                "postsCount",
                                "relevantPosts"
                              ]
                            },
                            "sourcesMonitored": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            },
                            "summary": {
                              "type": "object",
                              "properties": {
                                "decision": {
                                  "type": "string"
                                },
                                "shortSummary": {
                                  "type": "string"
                                },
                                "expandedSummary": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "decision",
                                "shortSummary",
                                "expandedSummary"
                              ]
                            }
                          },
                          "required": [
                            "lastCheckedAt",
                            "confidenceLevel",
                            "evidenceCollected",
                            "sourcesMonitored",
                            "summary"
                          ]
                        },
                        {
                          "type": "null"
                        }
                      ]
                    }
                  },
                  "required": [
                    "oracle"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        },
        "description": "Returns the oracle resolution summary for a market, including evidence collected and sources monitored.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Market ID (hash) or slug",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/markets/{id}/oracle/quotes": {
      "get": {
        "operationId": "listOracleQuotes",
        "summary": "List oracle quotes",
        "tags": [
          "Markets"
        ],
        "responses": {
          "200": {
            "description": "Oracle quotes list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "quotes": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "number"
                          },
                          "status": {
                            "type": "string"
                          },
                          "probability": {
                            "type": "number",
                            "nullable": true
                          },
                          "confidence": {
                            "type": "number",
                            "nullable": true
                          },
                          "reasoning": {
                            "type": "string",
                            "nullable": true
                          },
                          "referenceMarketsCount": {
                            "type": "number"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "completedAt": {
                            "type": "string",
                            "format": "date-time"
                          }
                        },
                        "required": [
                          "id",
                          "status",
                          "probability",
                          "confidence",
                          "reasoning",
                          "referenceMarketsCount",
                          "createdAt",
                          "completedAt"
                        ]
                      }
                    }
                  },
                  "required": [
                    "quotes"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        },
        "description": "Returns completed oracle probability quotes for a market.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Market ID (hash) or slug",
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "post": {
        "operationId": "requestOracleQuote",
        "summary": "Request an oracle quote",
        "tags": [
          "Markets"
        ],
        "responses": {
          "202": {
            "description": "Quote request accepted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "number"
                    },
                    "status": {
                      "type": "string"
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time"
                    }
                  },
                  "required": [
                    "id",
                    "status",
                    "createdAt"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "remainingMints": {
                      "type": "number"
                    },
                    "remainingAmount": {
                      "type": "string"
                    },
                    "retryAfter": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        },
        "description": "Triggers a new oracle probability quote for a market. Rate limited to one request per 5 minutes per market.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Market ID (hash) or slug",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/markets/{id}/quotes": {
      "get": {
        "operationId": "getMarketQuotes",
        "summary": "Get market bid/ask quotes",
        "tags": [
          "Markets"
        ],
        "responses": {
          "200": {
            "description": "Market quotes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "marketId": {
                      "type": "string"
                    },
                    "yes": {
                      "type": "object",
                      "properties": {
                        "bid": {
                          "anyOf": [
                            {
                              "type": "number"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "ask": {
                          "anyOf": [
                            {
                              "type": "number"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "last": {
                          "anyOf": [
                            {
                              "type": "number"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        }
                      },
                      "required": [
                        "bid",
                        "ask",
                        "last"
                      ]
                    },
                    "no": {
                      "type": "object",
                      "properties": {
                        "bid": {
                          "anyOf": [
                            {
                              "type": "number"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "ask": {
                          "anyOf": [
                            {
                              "type": "number"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "last": {
                          "anyOf": [
                            {
                              "type": "number"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        }
                      },
                      "required": [
                        "bid",
                        "ask",
                        "last"
                      ]
                    },
                    "spread": {
                      "anyOf": [
                        {
                          "type": "number"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "timestamp": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "marketId",
                    "yes",
                    "no",
                    "spread",
                    "timestamp"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        },
        "description": "Returns current bid, ask, and last trade prices for yes and no outcomes.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Market ID (hash) or slug",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/markets/{id}/orderbook": {
      "get": {
        "operationId": "getOrderbook",
        "summary": "Get market orderbook",
        "tags": [
          "Markets"
        ],
        "responses": {
          "200": {
            "description": "Orderbook snapshot",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "marketId": {
                      "type": "string"
                    },
                    "bids": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "price": {
                            "type": "number"
                          },
                          "size": {
                            "type": "number"
                          }
                        },
                        "required": [
                          "price",
                          "size"
                        ]
                      }
                    },
                    "asks": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "price": {
                            "type": "number"
                          },
                          "size": {
                            "type": "number"
                          }
                        },
                        "required": [
                          "price",
                          "size"
                        ]
                      }
                    },
                    "timestamp": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "marketId",
                    "bids",
                    "asks",
                    "timestamp"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        },
        "description": "Returns the order book depth with aggregated price levels in cents.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Market ID (hash) or slug",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "depth",
            "in": "query",
            "required": false,
            "description": "Number of price levels to return per side",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          },
          {
            "name": "outcomeIndex",
            "in": "query",
            "required": false,
            "description": "Outcome index (0 = yes, 1 = no)",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 1,
              "default": 0
            }
          }
        ]
      }
    },
    "/markets/{id}/simulate": {
      "post": {
        "operationId": "simulateMarketTrade",
        "summary": "Simulate a market trade",
        "tags": [
          "Markets"
        ],
        "responses": {
          "200": {
            "description": "Simulation results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "marketId": {
                      "type": "string"
                    },
                    "side": {
                      "type": "string",
                      "enum": [
                        "yes",
                        "no"
                      ]
                    },
                    "amount": {
                      "type": "number"
                    },
                    "amountType": {
                      "type": "string",
                      "enum": [
                        "usd",
                        "contracts"
                      ]
                    },
                    "estimatedContracts": {
                      "type": "number"
                    },
                    "estimatedAvgPrice": {
                      "type": "number"
                    },
                    "estimatedSlippage": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "marketId",
                    "side",
                    "amount",
                    "amountType",
                    "estimatedContracts",
                    "estimatedAvgPrice",
                    "estimatedSlippage"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        },
        "description": "Simulates a trade and returns estimated execution details. This is a read-only operation.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Market ID (hash) or slug",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Trade simulation parameters",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "side": {
                    "type": "string",
                    "enum": [
                      "yes",
                      "no"
                    ]
                  },
                  "amount": {
                    "type": "number",
                    "exclusiveMinimum": 0
                  },
                  "amountType": {
                    "type": "string",
                    "enum": [
                      "usd",
                      "contracts"
                    ]
                  },
                  "trader": {
                    "type": "string"
                  }
                },
                "required": [
                  "side",
                  "amount",
                  "amountType"
                ]
              }
            }
          }
        }
      }
    },
    "/markets/{id}/prices": {
      "get": {
        "operationId": "getMarketPrices",
        "summary": "Get market price history",
        "tags": [
          "Markets"
        ],
        "responses": {
          "200": {
            "description": "Price history",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "prices": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "time": {
                            "type": "number"
                          },
                          "price": {
                            "type": "number"
                          }
                        },
                        "required": [
                          "time",
                          "price"
                        ]
                      }
                    },
                    "startTime": {
                      "type": "number"
                    },
                    "endTime": {
                      "type": "number"
                    },
                    "interval": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "prices",
                    "startTime",
                    "endTime",
                    "interval"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        },
        "description": "Returns historical price data for a market.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Market ID (hash) or slug",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "timeframe",
            "in": "query",
            "required": false,
            "description": "Time window for price data",
            "schema": {
              "type": "string",
              "enum": [
                "1h",
                "6h",
                "1d",
                "1w",
                "1M",
                "all"
              ],
              "default": "all"
            }
          }
        ]
      }
    },
    "/activity": {
      "get": {
        "operationId": "listActivity",
        "summary": "List activity across all markets",
        "tags": [
          "Activity"
        ],
        "responses": {
          "200": {
            "description": "Activity feed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "marketId": {
                      "anyOf": [
                        {},
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "activity": {
                      "type": "array",
                      "items": {
                        "oneOf": [
                          {
                            "type": "object",
                            "properties": {
                              "marketId": {},
                              "timestamp": {
                                "type": "string",
                                "format": "date-time",
                                "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                              },
                              "type": {
                                "type": "string",
                                "const": "trade"
                              },
                              "data": {
                                "type": "object",
                                "properties": {
                                  "side": {
                                    "type": "string"
                                  },
                                  "price": {
                                    "type": "number"
                                  },
                                  "amount": {
                                    "type": "number"
                                  },
                                  "contracts": {
                                    "type": "number"
                                  }
                                },
                                "required": [
                                  "side",
                                  "price",
                                  "amount",
                                  "contracts"
                                ]
                              }
                            },
                            "required": [
                              "timestamp",
                              "type",
                              "data"
                            ]
                          },
                          {
                            "type": "object",
                            "properties": {
                              "marketId": {},
                              "timestamp": {
                                "type": "string",
                                "format": "date-time",
                                "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                              },
                              "type": {
                                "type": "string",
                                "const": "oracle_update"
                              },
                              "data": {
                                "type": "object",
                                "properties": {
                                  "confidence": {
                                    "anyOf": [
                                      {
                                        "type": "number"
                                      },
                                      {
                                        "type": "null"
                                      }
                                    ]
                                  },
                                  "status": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "confidence",
                                  "status"
                                ]
                              }
                            },
                            "required": [
                              "timestamp",
                              "type",
                              "data"
                            ]
                          },
                          {
                            "type": "object",
                            "properties": {
                              "marketId": {},
                              "timestamp": {
                                "type": "string",
                                "format": "date-time",
                                "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                              },
                              "type": {
                                "type": "string",
                                "const": "resolution"
                              },
                              "data": {
                                "type": "object",
                                "properties": {
                                  "outcome": {
                                    "anyOf": [
                                      {
                                        "type": "string"
                                      },
                                      {
                                        "type": "null"
                                      }
                                    ]
                                  },
                                  "evidence": {
                                    "anyOf": [
                                      {
                                        "type": "string"
                                      },
                                      {
                                        "type": "null"
                                      }
                                    ]
                                  }
                                },
                                "required": [
                                  "outcome",
                                  "evidence"
                                ]
                              }
                            },
                            "required": [
                              "timestamp",
                              "type",
                              "data"
                            ]
                          },
                          {
                            "type": "object",
                            "properties": {
                              "marketId": {},
                              "timestamp": {
                                "type": "string",
                                "format": "date-time",
                                "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                              },
                              "type": {
                                "type": "string",
                                "const": "market_created"
                              },
                              "data": {
                                "type": "object",
                                "properties": {},
                                "additionalProperties": {}
                              }
                            },
                            "required": [
                              "timestamp",
                              "type",
                              "data"
                            ]
                          }
                        ]
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "cursor": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "hasMore": {
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "cursor",
                        "hasMore"
                      ]
                    }
                  },
                  "required": [
                    "activity",
                    "pagination"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        },
        "description": "Returns a paginated feed of activity across all markets including trades, oracle updates, resolutions, and market creation events.",
        "parameters": [
          {
            "name": "types",
            "in": "query",
            "required": false,
            "description": "Comma-separated activity types (trade, oracle_update, resolution, market_created)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Pagination cursor",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Results per page",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          },
          {
            "name": "startTime",
            "in": "query",
            "required": false,
            "description": "Filter activity after this time",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "endTime",
            "in": "query",
            "required": false,
            "description": "Filter activity before this time",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ]
      }
    },
    "/orders": {
      "post": {
        "operationId": "createOrder",
        "summary": "Create an order",
        "tags": [
          "Orders"
        ],
        "responses": {
          "201": {
            "description": "Order created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "order": {
                      "type": "object",
                      "properties": {
                        "side": {
                          "anyOf": [
                            {
                              "type": "number",
                              "const": 0
                            },
                            {
                              "type": "number",
                              "const": 1
                            }
                          ]
                        },
                        "price": {
                          "type": "string"
                        },
                        "size": {
                          "type": "string"
                        },
                        "filledSize": {
                          "type": "string"
                        },
                        "remainingSize": {
                          "type": "string"
                        },
                        "percentFilled": {
                          "type": "number"
                        },
                        "insertedAt": {
                          "type": "string",
                          "format": "date-time",
                          "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "limit",
                            "market"
                          ]
                        },
                        "trader": {},
                        "marketId": {},
                        "status": {
                          "type": "string",
                          "enum": [
                            "open",
                            "filled",
                            "cancelled",
                            "expired",
                            "voided"
                          ]
                        },
                        "voidedAt": {
                          "anyOf": [
                            {
                              "type": "string",
                              "format": "date-time",
                              "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "voidReason": {
                          "anyOf": [
                            {
                              "type": "string",
                              "enum": [
                                "UNFILLED_MARKET_ORDER",
                                "UNDER_COLLATERALIZED",
                                "MISSING_OPERATOR_APPROVAL"
                              ]
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "outcomeIndex": {
                          "type": "number"
                        },
                        "nonce": {}
                      },
                      "required": [
                        "side",
                        "price",
                        "size",
                        "filledSize",
                        "remainingSize",
                        "percentFilled",
                        "insertedAt",
                        "type",
                        "trader",
                        "marketId",
                        "status",
                        "voidedAt",
                        "voidReason",
                        "outcomeIndex",
                        "nonce"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "order"
[...]
